@{
  Layout = "_Layout";
}
<body>
  <h1>Favorite Traveling Photos</h1>
  <ul>
    <li><img src='~/img/soldier.png'/></li>
    <li><img src='~/img/photo2.jpg'/></li>
    <li><img src='~/img/photo3.jpg'/></li>
  </ul>
</body>